<p>notas-pendientes works!</p>


<div class="pendientes">

    <div class="pendientes-titulo">
        <h1>Pendientes</h1>
    </div>
    <div class="pendientes-items">
        <ul>
            <li>Agregar una tabla de tags, para agregar eso que viene arriba del carrusel cuando se abre un juego (que solamente se admitan dos como máximo) - backend</li>
            <li>Agregar un botón que permita ir hacia arriba ( en la derecha)</li>
        </ul>
    </div>

</div>

<div class="avanzado">

</div>

<div class="terminado">

</div>