<div class="nav-movil">
  <div class="icono-menu">
    <button #botonToggle id="menu-toggle" [ngClass]="{'menu-derecha': menuVisible}" aria-label="Toggle Menu" (click)="toggleMenu()">
      &#9776; <!-- Ícono de menú hamburguesa -->
    </button>
  </div>
  <div class="logo">
    <img src="./../../../assets/Logo0.png" alt="">
    <!-- <p class="link-blanco" style="font-size: 30px; color: rgb(56, 56, 56);"> | </p> -->
    <a class="link-blanco name_sitio" routerLink=""> GhostGames</a>
  </div>
  <div class="iconos">

  </div>
</div>



<nav #navToggle [ngClass]="{ 'show-menu': menuVisible, 'hide-menu': !menuVisible }" id="cont-master" >
  <div id="separador-nav">
    <img src="./../../../assets/Logo0.png" alt="">
    <p class="link-blanco" style="font-size: 30px; color: rgb(56, 56, 56);"> | </p>
    <a class="link-blanco name_sitio" routerLink="">GhostGames</a>
    <!-- <a class="link-blanco name_sitio" routerLink="">GhostGames</a> -->
  </div>
  <ul id="cont-ul">
    
    <!-- <li (mouseover)="plaHoverSound()" (mouseleave)="stopHoverSound()" ><a class="link-blanco l_size1" routerLink="/inicio">Inicio</a></li>
    <li (mouseover)="plaHoverSound()" (mouseleave)="stopHoverSound()" ><a class="link-blanco l_size1" href="/productos">Productos</a></li>
    <li (mouseover)="plaHoverSound()" (mouseleave)="stopHoverSound()"  *ngIf="isUserRole(['cliente'])"><a class="link-blanco l_size1" href="">Galería</a></li>
    <li (mouseover)="plaHoverSound()" (mouseleave)="stopHoverSound()"  *ngIf="isUserRole(['usuario'])"><a class="link-blanco l_size1" href="/editar/2">Editar</a></li>
    <li (mouseover)="plaHoverSound()" (mouseleave)="stopHoverSound()"  *ngIf="isUserRole(['usuario'])"><a class="link-blanco l_size1" href="/bodega">Soporte</a></li>
    <li (mouseover)="plaHoverSound()" (mouseleave)="stopHoverSound()" ><a class="link-blanco l_size1" href="/contacto">Contacto</a></li> -->

    <li><a class="link-blanco l_size1" routerLink="/inicio">Inicio</a></li>
    <li><a class="link-blanco l_size1" href="/productos">Productos</a></li>
    <li *ngIf="isUserRole(['cliente'])"><a class="link-blanco l_size1" href="">Galería</a></li>
    <li *ngIf="isUserRole(['usuario'])"><a class="link-blanco l_size1" href="/editar/2">Editar</a></li>
    <li *ngIf="isUserRole(['usuario'])"><a class="link-blanco l_size1" href="/bodega">Soporte</a></li>
    <li><a class="link-blanco l_size1" href="/contacto">Contacto</a></li>
    
    <!-- <li (mouseover)="plaHoverSound()" (mouseleave)="stopHoverSound()"  *ngIf="isUserRole(['usuario'])"><a class="link-blanco l_size1" href="/editar">Editar</a></li> -->

    <li *ngIf="!isUserRole(['admin','usuario','cliente','soporte','moderador','gestor de inventario','verificador de contenido'])"><a class="link-blanco l_size1" href="/registro">Registro</a></li>
    <li *ngIf="!isUserRole(['admin','usuario','cliente','soporte','moderador','gestor de inventario','verificador de contenido'])"><a class="link-blanco l_size1" href="/login">Iniciar Sesión</a></li>
    <li *ngIf="isUserRole(['admin','usuario','cliente','soporte','moderador','gestor de inventario','verificador de contenido'])" (click)="salirUsuario()"><a class="link-blanco l_size1" href="/">Salir</a></li>

  </ul>
  <!-- Mostrar este icono cuando se tengan las sesiones -->
  <div *ngIf="isUserRole(['usuario'])" class="cont-user">
    <button (click)="alerta()" id="btn-user" ><i id="icon-user" class="fi fi-sr-user"></i></button>
     <span>|| </span>
    <button id="btn-icon" class="link-blanco" (click)="cestaComponent()">
      <i class="fi fi-sr-shopping-cart cesta-icono" ></i>
      <!-- <span id="cesta-cantidad"> {{cantidadCesta}}</span> -->
      <span id="cesta-cantidad"> {{numerosss}}</span>
    </button>
  </div>
</nav>

<app-cesta-modal [isVisible]="isVisible" (onClose)="handleClose()">
  <button (click)="onConfirm()">Confirmar</button>
  <button (click)="onCancel()">Cancelar</button>
</app-cesta-modal>



<app-buscador *ngIf="mostrarBusquedaComponent"></app-buscador>

<router-outlet></router-outlet>

<!-- <app-producto-carousel></app-producto-carousel> -->


<!-- <app-carousel-v1></app-carousel-v1> -->


<app-footer></app-footer>