*{
  font-family: Inter, sans-serif;
}

#content-buscador{
  position: sticky;
  top: 0;
   z-index: 30;
}

.cont-buscador{
  width: 100%;
  height: auto;
  /* background-color: rgb(9, 9, 9); */
  /* background-color: #121313; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-buscador-m{
  /* width: 75%; */
  width: 79%;
  display: flex;
  height: 42px;
  padding: 30px;
  align-items: center;
}

a{
  /* list-style: none; */
  text-decoration: none;
  padding-left: 25px;
}

.input-buscador{
  width: 18%;
  height: 70%;
  border-radius: 20px;
  padding: 6px 10px 6px 35px;
  background-color: rgb(39, 39, 39);
  background-color: rgba(255, 255, 255, 0.08);
  color: #ffff;
  border: 0px solid #007bff;

  font-weight: 500;
  line-height: 13.3333px;
  font-size: 13.3333px;
  font-family: Inter, sans-serif;
}

input::placeholder{
  color: #ffff;
}

.c-buscador-m input:focus{
  /* width: 20%; */
  /* Quita el borde azul de focus predeterminado */
  outline: none;
  /* Cambia el color del borde para que sea más obvio */
  /* border-color: red; */
  background-color: rgb(49, 49, 49);
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  /* padding-left: 30px; */
  transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#icon-buscador{
  width: 20%;
  height: 70%;
  background-color: rgb(39, 39, 39);
  border-radius: 20px;
  padding: 4px 10px 2px 12px;
  border: 0px solid #007bff;
}

/*
#c-icon-input{
  background-color: blue;
} */

#cesta-div{
  position: relative;
  left: 10%;
}

#btn-icon{
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 0px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cesta-icono{
  font-size: 25px;
  color: blue;
}



.cont_1{
  position: absolute;
  top: 100%;
  left: 10.5%; /* Alineado con tu input */
  width: calc(100% - 10.5%); /* 👈 Esto evita que se desborde a la derecha */
  display: flex;
  justify-content: flex-start; /* 👈 importante */
  background-color: transparent; /* 👈 clave */
  z-index: 29;
  /* margin-left: 10%; */
  width: 350px;
}



.cont_2{
  display: flex;
  width: 600px;
  /* width: 350px; */
  flex-direction: column;
  background-color: #252525; /* solo donde hay resultados */

  border: 1px solid white;
}


.cont_3{
  display: flex ;
  /* width: 580px; */
  padding: 10px;
  cursor: pointer;
}


.cont_3:hover{
  background-color: #3b3b3b; /* solo donde hay resultados */
}


.img_busqueda{
  width: 80px;
}


.info_busqueda{
  width: 80%;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
}


.titulo_busqueda {
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 12px;
  width: 100%;
}


.precio_busqueda {
  color: white;
  color: #39a0a2;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 12px;

  width: 50%;
}


.p-descuento_busqueda{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  /* height: 20px; */
  background-color: #39a0a2;
  font-size: 12px;
  padding: 6px;
  border-radius: 4px;
  font-weight: 800;
  margin-left: 20px;
  margin-top: 5px;
}




.precio_descontado{
  color: #777677;
  line-height: 15px;
  text-decoration: line-through;
  font-size: 12px;
  width: 50%;
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin-left: 10px;



}



