<!-- PROPIEDADES DEL SLIDER: https://github.com/MurhafSousli/ngx-gallery/wiki/Gallery-API -->
<!-- <gallery [items]="items" thumbPosition="top"></gallery> Thumbnails position top, left, right, bottom -->

<!-- Thumbnails position top, left, right, bottom -->
<gallery [items]="items" scrollBehavior="smooth" thumbPosition="top"></gallery>

<!-- Para que las imagenes se acomoden de forma vertical-->
<!-- <gallery [items]="items" scrollBehavior="smooth" slidingDirection="vertical" thumbPosition="top"></gallery> -->

<!-- AutoPlay Para que las imagenes se cambien solas, se puede cambiar en el Main.ts o directamete en la etiqueta-->
<!-- <gallery [items]="items" [autoPlay]="true" slidingDirection="vertical" thumbPosition="top"></gallery> -->

<!-- slidingDirection de horizontal a vertical o si no solamente quitamos la propiedad -->
<!-- <gallery [items]="items" slidingDirection="horizontal" thumbPosition="top"></gallery> -->

<!-- ///////////////////////OTRA MANERA DE COLOCAR LA ETIQUETA//////////////////////// -->
<!-- <gallery [id]="galleryId" [items]="items" thumbPosition="bottom"></gallery> -->

